In [1]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv("Enjoy_sport.csv")
df

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm     High  Strong  Warm     Same        Yes
1  Sunny    Warm     High  Strong  Warm     Same        Yes
2  Rainy    Cold     High  Strong  Warm   Change         No
3  Sunny    Warm     High  Strong  Cool   Change        Yes

In [76]:
df1=df[df["EnjoySport"]=="Yes"]  # only EnjoySport=="Yes"
display(df1)
df2=df1.drop("EnjoySport",axis=1)
df2

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same        Yes
1  Sunny    Warm     High  Strong  Warm     Same        Yes
3  Sunny    Warm     High  Strong  Cool   Change        Yes

     Sky AirTemp Humidity    Wind Water Forecast
0  Sunny    Warm   Normal  Strong  Warm     Same
1  Sunny    Warm     High  Strong  Warm     Same
3  Sunny    Warm     High  Strong  Cool   Change

In [75]:
# initialize most specific hypothesis in H

ho = np.array([None,None,None,None,None,None])

for i in range(len(df2)):
    for j in range(len(df2.columns)):
        if ho[j] == df2.iloc[i,j]:
            continue
        elif ho[j] == None:
            ho[j]=df2.iloc[i,j]
        else:
            ho[j] = "?"
    print(ho)

['Sunny' 'Warm' 'Normal' 'Strong' 'Warm' 'Same']
['Sunny' 'Warm' '?' 'Strong' 'Warm' 'Same']
['Sunny' 'Warm' '?' 'Strong' '?' '?']